@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
 font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Default: stacked layout for small screens */

/* Side-by-side layout for medium screens and up */
@media (max-width: 1000px) {
  .layout{
    grid-template-columns: 2ft 1 ft;; /* main takes 2/3, aside takes 1/3 */
  }
  
}